@import './null';
@import './fonts';
@import './ui';

.screen {
    height: 100%;
    width: 100vw;
    overflow: hidden;

    &__title {
        font-size: 110px;
        @media (max-width: 1800px) {
            font-size: calc(28px + (110 - 28) * ((100vw - 320px) / (1800 - 320)));
        }
        font-weight: 700;
        line-height: 130%;
    }

    &__header {
        display: flex;
        width: 100%;
        gap: 40px;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: 767.98px) {
            flex-direction: column-reverse;
            gap: 12px;
        }
    }
    &__logo {
        margin: 14px 0;
        flex-shrink: 0;

        @media (max-width: 767.98px) {
            margin-left: auto;
            margin-top: 0;
        }
    }

    &_hero {
        padding: 76px 0;
        @media (max-width: 1200px) {
            padding-top: calc(24px + (76 - 24) * ((100vw - 320px) / (1200 - 320)));
            padding-bottom: calc(24px + (76 - 24) * ((100vw - 320px) / (1200 - 320)));
        }
        background: url('../img/page1/bg.png') no-repeat;
        background-size: cover;
        background-position: center;
    }
    &_second {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 62px 0;
        @media (max-width: 1800px) {
            padding-top: calc(30px + (62 - 30) * ((100vw - 320px) / (1800 - 320)));
            padding-bottom: calc(30px + (62 - 30) * ((100vw - 320px) / (1800 - 320)));
        }

        .screen__decor {
            position: absolute;
            right: 0;
            bottom: 0;

            width: 61.3vw;
            max-width: 1177px;
            img {
                width: 100%;
            }
            @media (max-width: 1200px) {
                display: none;
            }
        }

        .screen__decor2 {
            position: absolute;
            right: 0;
            top: 0;
            @media (max-width: 1800px) {
                top: calc(160px + (0 - 160) * ((100vw - 991.98px) / (1800 - 991.98)));
            }

            width: 43.33vw;
            max-width: 832px;

            img {
                width: 100%;
            }

            @media (max-width: 1200px) {
                display: none;
            }
        }

        .screen__body {
            max-width: 45.83vw;
            flex: 1 1 auto;
            @media (max-width: 1800px) {
                gap: calc(20px + (75 - 20) * ((100vw - 320px) / (1800 - 320)));

                height: calc(100vh - (300px + (360 - 300) * ((100vw - 1200px) / (1800 - 1200)))); 
            }
            @media (max-width: 1600px) {
                max-width: 48vw;
            }
            @media (max-width: 1200px) {
                max-width: none;
                height: calc(100vh - (140px + (250 - 140) * ((100vw - 320px) / (1200 - 320)))); 
            }
            @media (max-width: 767.98px) {
                height: calc(100vh - (160px + (270 - 160) * ((100vw - 320px) / (767.98 - 320)))); 
            }
            @media (max-width: 480px) {
                height: calc(100vh - (174px + (220 - 174) * ((100vw - 320px) / (480 - 320)))); 
            }
            gap: 75px;
            height: calc(100vh - 360px);
            overflow-y: auto;


        }

        .screen__header {
            margin-bottom: 80px;
            @media (max-width: 1800px) {
                margin-bottom: calc(20px + (80 - 20) * ((100vw - 320px) / (1800 - 320)));
            }
        }
    }

    &__wrapper {
        flex: 1 1 auto;
        height: 100%;
        position: relative;
        overflow: hidden;

        .copyright {
            position: absolute;
            bottom: 0;
            left: 0;

            @media (max-width: 480px) {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        height: 100%;
        flex: 1 1 auto;
        overflow: auto;
    }
}

