@import './fonts';

.container {
    max-width: 1740px;
    padding: 0 10px;
    margin: 0 auto;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}


body {
    background-color: #000000;
    color: #fff;
    font-family: Poppins;
    font-weight: 400;
    font-size: 28px;
}


.copyright {
    font-size: 20px;
    @media (max-width: 1200px) {
        font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1200 - 320)));
    }
    @media (max-width: 480px) {
        text-align: center;
    }
    line-height: 200%;

    white-space: nowrap;
}